<h1>Desarrollo de Sistemas</h1>
<p>Desarrollo de Aplicaciones de Escritorio y Aplicaciones Web, para distintos Sistemas Operativos 
	(Windows y Linux), empleando diferentes plataformas de desarrollo, tales como:	</p>

<%= image_tag("fotos/PlatafDes.jpg", :size => "700x300", :alt => "Plataformas de desarrollo", :class => "round") %>
<%= image_tag("fotos/Rails1.jpeg", :size => "120x120", :alt => "Rails", :class => "round") %>