<h3>Quienes Somos</h3>
<p>El Departamento de Información y Sistemas es una dependencia que forma parte de la Unidad de
	Planeación, Evaluación y Control Escolar, adscrita a La Subsecretaría de Educación Básica y Normal.</p>
	
<%= image_tag("fotos/Tec1.jpg", :size => "100x100", :alt => "Tecnología", :class => "round derecha") %>
	
<h3>Misión</h3>
<p>Desarrollar, implementar y operar sistemas de información en apoyo a los procesos 
 administrativos, programas, proyectos y servicios de educación básica y normal, 
 así cómo brindar soporte técnico y asesoría sobre tecnologías de la  información y 
 comunicaciones a las unidades administrativas  dependientes de la Subsecretaría de 
 Educación Básica y Normal.</p>
<h3>Visión</h3>
<p>Constituirse en un área (de tecnologías de información y comunicaciones) con una productividad 
	de punta que coadyuve de manera apreciable (importante) al mejoramiento de los servicios 
	educativos de educación básica y normal.</p>
