<br /><h3>Videos</h3>
<div style="text-align: center">
<br /><p>Video 1</p>
<object width="350" height="250">
	<param name="movie" value="http://www.youtube.com/v/KtA3Qy3g7B8" />
<embed src="http://www.youtube.com/v/KtA3Qy3g7B8"
type="application/x-shockwave-flash" width="300" height="200">
</embed>
</object>

<br /><p>Video 2</p>
<object width="350" height="250">
	<param name="movie" value="http://www.youtube.com/v/Hkb3VUeM3FM" />
<embed src="http://www.youtube.com/v/Hkb3VUeM3FM"
type="application/x-shockwave-flash" width="300" height="200">
</embed>
</object>
</div>
<br />
