aside, article, section, header, footer, nav {
	display: block;
}
aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, div {
	margin: 0;
	padding:0;
}
html {
	background-image: url(TabTen.png);
}
body {
	background-image: url(TabTen.png);
}
.container {
	width: 985px;
	margin: 0 auto;
	margin-top: 5px;
	background:#fff;
	padding: 10px 10px;
	border: 1px solid black;
}

header {
	width: 1290px;
	height: 140px;
	background-image: -moz-linear-gradient(0deg, #ffffff 15%, #900 180%);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#FFFFFF 20%, endColorStr=#B4EAFA 80%);
	background: -webkit-gradient(linear, left top, right top, from(#ffffff) 20%, to(#B4EAFA) 80%);	
/*	
	width: 1290px;
	height: 140px;	
	/* margin-bottom: 15px; */
/*	background-image: url(Xinantecatl.png);
	background-repeat: no-repeat;
	background-size: 78%;
   	background-position: center;  
   	margin: 2px;
*/
}

header img {
	float:left;
	background: #fff;
}

article {
	float: left;
	clear:both;
	margin-left: 0px; 
	font-size: 120%;
	background:#fff;		
}

aside {
	float: right;
	width: 390px;
	padding: 0 10px;
	border: 1px solid #aaa;
	font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.reproductor {
	clear:both;
	margin: 20px auto;
	padding: 10px;	
	width: 305px;
}

footer {
	clear: both;
	background: #fff;
    background-image: url(Xinantecatl.png);
	background-repeat: no-repeat;
	background-size: 100%;
   	background-position: center;  
	width: 1280px;
	height: 150px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
}

footer nav {
	padding-top: 10px;
	float: none;
	font-size:x-small;
}

#derechos {
	position:absolute;
	margin-top: 85px;
	margin-left: 500px;
	color: black;
	font-size: 14px;
	font-weight:bold;
}

footer p {
	font-size: 12px;
	text-align:right;
	padding-right: 10px;
}

/* Links */


/* Navigation */

header nav {
   	margin-top: 100px;
   	margin-left: 610px;
   	float:left;
   	width: 380px;
	white-space: nowrap;
	font-size: 130%;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.8em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

/* Destacados button */



/* Round corners */

.round {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

h3	/* Cabeceras */
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	font-style: italic;
	background-image: -moz-linear-gradient(0deg, #900, #fdffff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr=#B4EAFA, endColorStr=#FDFFFF);
	background: -webkit-gradient(linear, left top, right top, from(#B4EAFA), to(#fdffff));
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	color:#fff;
}
