<footer class = "round">
	<nav class="round">
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Quienes somos", quienes_somos_path %></li>
			<li><%= link_to "Videos", videos_path %></li>
			<li><%= link_to("Contacto", contacto_path) %></li>
		</ul>
	</nav>
	<span id="derechos">Todos los derechos reservados. 2013.</span>
	<p>Grupo musical ' La Seña '</p>
    <p>San Lorenzo Cuauhtenco, Calimaya, Estado de México</p>
    <p>Calle: Guerrero # 29, C. P. 52233.   Tel. (722) 2 98 28 83  </p>
	<p>e-mail: grupolasenia@yahoo.com.mx</p>
	
</footer>
